# GENERAL
TZ='{{ lookup("pipe", "timedatectl show -p Timezone | awk -F= '{print $2}'") }}'

# CONTAINER SPECIFIC
DISPLAY_TIMEZONE='{{ lookup("pipe", "timedatectl show -p Timezone | awk -F= '{print $2}'") }}'
APP_URL='http://{{ ansible_facts["default_ipv4"]["address"] }}:80'
PUID={{ ansible_facts["real_user_id"] }}
PGID={{ ansible_facts["real_group_id"] }}
DATETIME_FORMAT="j M Y, H:i"
CHART_DATETIME_FORMAT="j M, H:i"
#SPEEDTEST_SCHEDULE="33 0,4,8,12,16,20 * * *" # https://crontab.guru/
SPEEDTEST_SCHEDULE="48 1,4,7,10,13,16,19,22 * * *" # https://crontab.guru/
DEFAULT_CHART_RANGE=week
PUBLIC_DASHBOARD=true
DB_CONNECTION=sqlite
